body {
  background-color: black;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  margin: auto;
}

a {
  color: seashell;
}

p, h2, h3, h5, a {
  opacity: 0.9;
}

nav span {
  display: inline-block;
  padding: 0 10px;
}

.container {
  padding-top: 71px;
}

.image-background {
  display: inline-flex;
}

/*Header, logo, navigation*/
header {
  display: flex;
  align-items: center;
  height: 69px;
  width: 100%;
  position: fixed;
  z-index: 2;
  border-bottom: 1px solid seashell;
  background-color: black;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo img {
  height: 50px;
  padding-left: 10px;
}

header nav {
  padding-right: 10px;
}

/*Mission section*/
.image-background .mission {
  background-image: url(../images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
}

.mission {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.mission-text {
  position: relative;
  width: 100%;
  background-color: black;
}

/*Featured section*/
.featured {
  display: inline-block;
  width: 1000px;
}

.wrapped-images {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item img {
  width: 300px;
  height: 200px;
  padding: 0 10px;
}

.item p {
  margin-top: 10px
}


/*Locations section*/
.image-background .locations {
    background-image: url(../images/img-locations-background.jpg);
    height: 500px;
    width: 1200px;
  }

.locations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.locations-heading {
  display: inline-flex;
}

.locations h2 {
  margin-bottom: 15px;
}

.location-blocks {
  display: inline-flex;
}

.locations-text {
    width: 300px;
    height: 230px;
    background-color: black;
    margin: 0 20px;
  }

  /*Footer*/
  .contact {
    height: 200px;
  }

  .copyright {
    text-align: left;
    padding-left: 20px;
    margin: auto;
  }
